$bentuk : 10px;

* {
    margin : 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 5px black;
}

.navbar {
    background-color: gray;
    overflow: hidden;
    border-radius: 0px 0px $bentuk $bentuk;
    box-shadow: 0px 10px 20px black;
    nav {
        float: left;
        a {
            display: inline-block;
            color: white;
            padding: 20px 20px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }
        a:hover {
            background-color: white;
            color: gray;
        }
    }
}

.badan {
    padding: 20px;
    display: grid;
    grid-template-columns: 1200px auto;

    .slide {
        padding: 5px;
        font-size: 20px;
        text-align: center;

        table {
            width: 100%;
            th, td {
                background-color: grey;
                color: white;
            }
        }

        input {
            width: 100%;
        }
    }
}